@import url("https://fonts.googleapis.com/css2? family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Oswald:wght@300&display=swap");
footer {
  background-color: rgb(87, 87, 145);
  border-top: 15px double rgb(41, 148, 209);
  padding: 1em;
  margin-bottom: 0;
}
footer .tituloFooter {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: #00eeff;
}
footer .divFooter {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .divFooter .wp, footer .divFooter .fb, footer .divFooter .tg {
  border: 0px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 20px;
  width: 30px;
  height: 30px;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.boton {
  background-color: #38a87a;
  border-radius: 30px;
  color: white;
  padding: 15px 32px;
  text-align: center;
}

.botonUnito {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 16px;
}

main .contacto {
  margin: 10px;
  padding: 10px;
}
main .conociste {
  padding-left: 230px;
}
main .typefor {
  padding-left: 75px;
}
main .dias {
  padding-left: 230px;
}
main .saber {
  padding-left: 5px;
  word-spacing: 6px;
  letter-spacing: 2px;
}
main .boton {
  margin-top: 50px;
  margin-left: 280px;
}
main .mainContacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .mainContacto .pepe {
  width: 800px;
  height: 800px;
  color: rgb(41, 158, 139);
}
main .mainContacto legend {
  text-align: center;
}

.carrus {
  margin-top: 150px;
  display: grid;
  grid-template-columns: 450px;
  grid-template-rows: 450px;
  justify-content: center;
}

.d-block {
  width: 300px;
  height: 300px;
  border: 0px;
}

.sectionIndex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 30px;
  color: antiquewhite;
}

h2 {
  text-align: center;
  color: rgba(42, 131, 190, 0.623);
}

p {
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  padding: 5px;
  word-spacing: 7px;
  color: rgb(0, 93, 175);
  width: 500px;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.753));
}

img {
  border: 8px double rgba(42, 131, 190, 0.623);
  width: 200px;
  height: 200px;
  margin: 25px;
}

.imagenesCasas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 285px 285px 285px 285px 285px 285px;
  justify-content: space-between;
  justify-items: center;
}

img:hover {
  transform: scale(1.5);
}

img {
  transition-property: all;
  transition-duration: 2s;
}

.imgFondo {
  width: 300px;
  height: 500px;
  border: 0px;
}

.mainVentasyalquileres {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.mainVentasyalquileres fieldset {
  font-size: large;
  color: rgb(213, 213, 241);
}

header .navbar {
  padding: 12px;
  background: linear-gradient(rgb(0, 0, 0), rgba(5, 5, 5, 0.425));
  border-bottom: 10px double #1f74ad;
}
header .navbar-brand {
  color: rgb(34, 122, 180);
  word-spacing: -8px;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  margin-right: 30rem;
  display: flex;
  flex-direction: row;
}
header .nav-item {
  padding-right: 5rem;
}
header .nav-link {
  color: rgb(255, 255, 255);
}
header .navbar-nav .nav-link.active, header .navbar-nav .show > .nav-link {
  color: rgb(255, 255, 255);
}

.sectionEmpecemosporaqui {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
}
.sectionEmpecemosporaqui:hover {
  transform: translateX(-400px);
  transition: all 3s;
}

@media (min-width: 400px) {
  body {
    background-color: wheat;
  }
}

/*# sourceMappingURL=newstyles.css.map */
