.carrus{
    margin-top: 150px;
    display: grid;
    grid-template-columns: 450px;
    grid-template-rows: 450px;
    justify-content: center
}

.d-block{
    width: 300px;
    height: 300px;
    border: 0px;
}