.mainVentasyalquileres{        
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;        
    fieldset{
        font-size:large;
        color: rgb(213, 213, 241);
    }
}
